body {
  background-color: #386f3c;
}

#gameContainer {
  width: 490px;
  height: 700px;
}

#field {
  width: 344px;
  height: 683px;
  border: 1px solid #000;
  background-color: #f8faec;
  float: left;
}

#nextFigure {
  width: 140px;
  border: 1px solid #000;
  background-color: #f8faec;
  float: left;
  text-align: center;
}

#scores {
  width: 140px;
  text-align: center;
  font-size: 19px;
  float: left;
}

#rules {
  width: 130px;
  padding: 5px;
  text-align: left;
  font-size: 17px;
}

.block-line {

}

.empty-block {
  width: 29px;
  height: 29px;
  border: 1px solid #000;
  margin: 3px 0 0 3px;
  float: left;
}

.IShape {
  background-color: #00FFFF;
}
.OShape {
  background-color: #FFFF00;
}
.LShape {
  background-color: #FFA500;
}
.JShape {
  background-color: #0000FF;
}
.ZShape {
  background-color: #FF0000;
}
.SShape {
  background-color: #90EE90;
}
.TShape {
  background-color: #EE82EE;
}
.ground {
  background-color: #808080;
}
